<mat-toolbar color="accent">
  <span>Nova vacina</span>
</mat-toolbar>

<br>
<mat-form-field appearance="fill">
  <mat-label>País de Origem</mat-label>
  <input matInput name="paisOrigem" type="text" 
        [(ngModel)]="vacina.paisOrigem">
</mat-form-field>

<mat-label>Estágio da Pesquisa:</mat-label>
<mat-radio-group [(ngModel)]="vacina.estagioPesquisa">
  <mat-radio-button value="1">1 </mat-radio-button>
  <mat-radio-button value="2">2 </mat-radio-button>
  <mat-radio-button value="3">3 </mat-radio-button>
</mat-radio-group>
<br>

<mat-form-field appearance="fill">
  <mat-label>Data de Início da Pesquisa:</mat-label>
  <input matInput name="dataInicioPesquisa" required>
</mat-form-field>

<mat-form-field appearance="fill">
  <mat-label>Pesquisador Responsável</mat-label>
  <input matInput name="responsavel" required>
</mat-form-field>

<section>
  <div class="example-button-row">
      <button mat-flat-button color="primary" 
              (click)="salvar()">Consultar Vacinas</button>
              
      <button mat-flat-button color="accent" 
              (click)="limpar()">Nova Vacina</button>
  </div>
</section>
<pre>{{vacina | json}}</pre>
